 /* :root{
    --otro:  rgba(255, 34, 5, 0.684);
    --white: #fff;
    --black: #333;
    --otro:  hsl(210, 76%, 34%);
}
* {
    padding: 0%; margin: 0%;
    font-family:  sans-serif;
}
body{
    background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #2ecc71);  
    background: linear-gradient(to right, #155799, #2ecc71); 

 }  */
  :root{
    --yellow:  #dcc507;
    --white: #ffffff;
    --black:  #101c44;
    --purpura: #551eb8;
    --otro:  #1ba1b9;
}
* {
    padding: 0%; margin: 0%;
    font-family:  sans-serif;
}
body{
    max-width: 1770px;
    /* background: rgb(90 74 160);   */
 } 
 li{
    display: inline-block;
    list-style: none; 
 }
/* :root{
    --otro: rgba(255, 34, 5, 0.684);
    --white: #fff;
    --black: #2f3640;
    --otro:  #0097e6;
    --green: #44bd32;
}
* {
    padding: 0%; margin: 0%;
    font-family:  sans-serif;
}
body{
    background: #159957;  
    background: -webkit-linear-gradient(to right, #f5f6fa, #7f8fa6);  
    background: linear-gradient(to right, #f5f6fa, #7f8fa6); 
} */

a { text-decoration: none; }
/* -----------------         -------------------- HEADER           --------------------   */

.header{
   
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 5rem;
    background-color: var(--purpura); color: var(--white);
}
.header-title{ 
    display: inline-block;
    padding: 20px 0px; 
    font-size: 1.8rem;
    color: var(--white);
}
.nav-link {
  
    margin: 0rem 10px;
    font-size: 1.2rem;
    color: var(--white);
}


.btn-buscar{
    box-sizing: content-box;
    height: 2.5rem; width: 4.9rem; 
    border: none; border-radius: 4px;
    /* padding: 1rem;  */
    background-color: var(--otro); color: #fff;
    font-size: 1.1rem;
    letter-spacing: 0.6px;
}

.custom_menu-btn{
    display: none;
    height: 3.7rem; width: 3.7rem;
   
}
.custom_menu-btn button{
    height: 100%; width: 100%; 
    padding: 0%; border: none;
    margin: 0%;
    background-color: var(--purpura);
}
.s-item{
    display: block;
    height: 0.5rem; width: 90%;
    border-radius: 5px; margin: 13% auto;
    background-color: var(--white);
}
.custom_menu-btn button:active {
    opacity: 0.7;
    height: 98%; margin: 1% 0rem; 
}
@media (max-width:840px) {
    .custom_menu-btn{
        display: inline-block;
    }
    .navbar-nav{
        z-index: 0; visibility: hidden;
        display: flex; flex-flow: column; justify-content: space-around; align-items: center;
        position: absolute; top: 7rem; right: 0%;
        height: 0rem; width: 100%; margin-bottom: 10rem;
        background-color: var(--black); opacity: 0.9;
        transition: 0.45s;
    }
    .nav-item { 
        text-align: center;
        width: 80%;
        padding-bottom: 2rem;
        font-size: 1.2rem;
        color: var(--white); 
    }
    .nav-item:nth-child(1){ 
        padding: 2.5rem;
        border-bottom: 2px var(--white) solid; border-radius: 3px;
    }
    .nav-link{ 
        font-size: 1.5rem;
        text-align: center;
    
    }
}
@media (max-width:600px) {
    .header{
        justify-content: space-between;
        padding: 20px 1.5rem;
  
    }
    .header-title{ 
      
        padding: 20px 0px; 
        font-size: 1.65rem;
      
    }
    .custom_menu-btn{
        
        height: 3rem; width: 3rem;
       
    }
    .navbar-nav{

        position: absolute; top: 6.9rem; right: 0%;
         margin-bottom: 10rem;
    }
   
}
@media (max-width:440px) {
    .header{
        justify-content: space-between;
        padding: 20px 1.5rem;
  
    }
    .header-title{ 
        margin-right: 20px;
        padding: 20px 0px; 
        font-size: 1.5rem;
      
    }
    .custom_menu-btn{
        
        height: 2.5rem; width: 2.5rem;
       
    }
    .navbar-nav{

        position: absolute; top: 6.7rem; right: 0%;
    }
}
@media (max-width:344px) {
    .navbar-nav{
        position: absolute; top: 8.5rem; right: 0%;
    } 
}
/*---------------------      --------------------- MAIN           --------------------------*/
.container{
    display: flex; flex-flow: row wrap ; justify-content: space-evenly; 
    margin: 2rem 0rem;
    transition: 0.45s;
}
@media (max-width:840px) {
    .container {
        flex-direction: column-reverse;
     
    }
}
/*----------------- ---------------    ------------ BBDD       -----    ---------------       --------*/
.tecno-bd, .tecno-bd_2{ 
    width: 55%;
    
}
.row-bd { transition: all 0.4s;
    
    display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-content: center; align-items: center; 
    width: 100%; border-bottom: var(--black) solid 1.6px; padding: 1rem 0rem; margin: 7px 0px; 
    background-color: var(--otro);
}
.item-bd { 
    display: inline-block; text-align: center;
    min-width: 20%; ; padding: 0%; margin: 0px 0px;    
    color: var(--white);
    font-size: 1.2rem;   
}
.id{ 
    padding: 0%; margin: 0%; min-width: 10%!important; 
}
.bd_nombre , .bd_apellido, .bd_email{
    overflow: auto;
    padding: 0%; margin: 0%; min-width: 15%!important;    
}

.btn_content{ 
    display: flex!important; flex-direction: row!important; justify-content: space-around!important;

}

.btn_delete, .btn_editar{   
     filter: invert(100%); 
    /* max-width: 30%!important;  */
    object-fit: scale-down; object-position: center; 
    height: 33px; margin: 0px 10px;
    
}
.btn_editar{ 
    min-width: 10%!important; padding-left: 10px; 
   
}
.btn_delete:active {
    opacity: 10;
    height: 31px; 
    padding: 1px 0px;
}
.btn_editar:active{
    opacity: 10;
    height: 31px; 
    /* padding: 1px 0px; */
}
@media (min-width:841px) and (max-width:930px) {
    .item-bd { 
        box-sizing: border-box;    
        min-width: 20%; ; margin: 0px; padding: 0px 10px;
        font-size: 1.2rem; 
    }
    .id{
        padding: 0px!important; margin: 0%!important; width: 10%!important; 
    }
    .bd_nombre , .bd_apellido{
        overflow: auto;
        /* padding: 0%!important; margin: 0%!important;  */
        width: 15%!important; 
    }

    .btn_content{
        display: flex!important;  flex-direction: column-reverse!important; justify-content: space-between!important;
        padding: 0px; margin: 0px;
    }
    .btn_delete, .btn_editar{   
        width: 100%!important; 
        object-fit: scale-down; object-position: center; 
        height: 27.5px; margin: 0px; padding: 0%;
   }
   .btn_editar{ 
    padding-bottom: 5%;
    margin-bottom: 5px!important;
   }
   .btn_delete{ 
    padding-top: 5%;
    margin-top: 5px!important;
   }
}
@media (max-width:840px) {
    .tecno-bd, .tecno-bd_2{
        width: 95%;
        margin: 2rem auto;
        
    }
    .item-bd {
        box-sizing: border-box;
       display: flex; justify-content: stretch;
        width: 20%; ; margin: 0px; padding: 0%;
        font-size: 1.2rem; 
    }
    .id{
        padding-left: 10px!important; margin: 0%!important; width: 10%!important; 
    }
    .bd_nombre , .bd_apellido{
        padding: 0%!important; margin: 0%!important; width: 15%!important; 
    }
    .btn_content{
        display: flex; flex-direction: column-reverse!important; 
        padding: 0px; margin: 0px;
    }
    .btn_delete, .btn_editar{   
        width: 45%!important; 
       object-fit: scale-down; object-position: center; 
       height: 29px; margin: 0px auto; padding: 0%;
   }
   .btn_editar{
    padding-bottom: 5%;
    margin-bottom: 5px!important;
   }
   .btn_delete{
    padding-top: 5%;
    margin-top: 5px!important;
   }
}

/*---------------------      --------------------  FORM           ---------------------         -------------*/
.form{ 
    /* z-index: -2; */
    display: flex; flex-flow: column; justify-content: center;
    height: 25rem; width: 30%; border: var(--white) solid 3px; border-radius: 1.5rem;
    background: var(--purpura);
}
.form--titulo{
    display: block; text-align: center;
    padding: 0rem 1rem 0.5rem 1rem; 
    color: var(--white);
    font-size: 1.3rem;
}
form input {
    display: inline-block; 
    height: 1.7rem; width: 80%; margin: 1rem auto;
}
form input[placeholder]{
    padding-left: 5px;
}
.form--btn{
    border: none; border-radius: 1.5rem;
    background-color: var(--otro); color: var(--white); 
    letter-spacing: 2px;
}
#form--btn_reset{
    background-color: rgb(255 206 0);
}
@media (max-width:840px) {
    .form{ 
        width: 95%;
        margin: 2rem auto;
    }
}
@media (max-width:440px) {
    .form--titulo{
        display: block; text-align: center;
        padding: 0rem 1rem 0.5rem 1rem; 
      
        font-size: 1.3rem;
    }   
}